<%- contentFor('top') %>
<div class="page-header">
  <h1>Login</h1>
</div>

<%- contentFor('middle') %>
<div class="row" id="loginForm">
    <div class="row my-margin-bottom">
      <div class="col-md-4">
        &nbsp;
      </div>
      <div class="col-md-4">
        <label for="loginEmail">Name</label>
          <input type="text" class="form-control" id="loginEmail" placeholder="E-mail"/>
      </div>
        <div class="col-md-4">
        &nbsp;
      </div>
    </div>
    <div class="row my-margin-bottom">
      <div class="col-md-4">
        &nbsp;
      </div>
      <div class="col-md-4">
        <label for="loginPassword">Password</label>
          <input type="password" class="form-control" id="loginPassword"/>
      </div>
      <div class="col-md-4">
        &nbsp;
      </div>
    </div>
    <div class="row my-margin-bottom">
      <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      <div id="loginMessage"></div>
      <div class="my-float-right">
        <button type="button" class="btn btn-default" id="loginButton">Login</button>
      </div>
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      <div class="my-float-right">
        <a href="#" data-toggle="modal" data-target="#registerModal" id="registerUser">
          Register
        </a>
      </div>
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Register User</h4>
          </div>
          <div class="modal-body">

            <div class="row my-margin-bottom">
              <div class="col-md-9">
                <label for="userName">Name</label>
                  <input type="text" class="form-control" id="registerName" placeholder="Name"/>
              </div>
            </div>
            <div class="row my-margin-bottom">
              <div class="col-md-9">
                <label for="userEmail">E-Mail</label>
                  <input type="email" class="form-control" id="registerEmail" placeholder="E-Mail"/>
              </div>
            </div>
            <div class="row my-margin-bottom">
              <div class="col-md-9">
                <label for="userPassword">Password</label>
                  <input type="password" class="form-control" id="registerPassword"/>
              </div>
            </div>
            <div class="row my-margin-bottom">
              <div class="col-md-9">
                <button type="button" class="btn btn-default" id="registerButton">Submit</button>
              </div>
            </div>
            <div class="row my-margin-bottom">
              <div class="col-md-9">
                <div id="registerMessage"></div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-4">
      <div class="my-float-right">
        <a href="#" data-toggle="modal" data-target="#forgotModal" id="forgotPw">
          Forgot password
        </a>
      </div>
    </div>
    <div class="col-md-4">
      &nbsp;
    </div>

    <!-- Forgot Modal -->
    <div class="modal fade" id="forgotModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Forgot password</h4>
          </div>
          <div class="modal-body">

            <div class="row my-margin-bottom">
              <div class="col-md-9">
                Please contact your admin.
              </div>

          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
</div>

<script src="js/events-login.js" type="text/javascript"></script>